// xs
// sm
// md
// lg
// xl
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@mixin cant-select {
  user-select: none;
}

@mixin full-heigt {
  height: 80vh;
}

@mixin clear-input-text {
  outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  box-shadow: none;
}

@mixin bold-outline {
  outline: 3px solid black;
}